<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <article>
        <h3><%= user.nombre %></h3>
        <div>
          <p><%= user.apellido %></p>
          <p><%= user.email %></p>
          <p><%= user.nacionalidad %></p>
        </div>
      </article>
    <h2>Chau</h2>
  </body>
</html>
